[submodule "external/embed-resource"]
	path = external/embed-resource
	url = https://github.com/schneeregenflocke/embed-resource.git
[submodule "external/sigslot"]
	path = external/sigslot
	url = https://github.com/palacaze/sigslot.git
[submodule "external/csv2"]
	path = external/csv2
	url = https://github.com/p-ranav/csv2.git
[submodule "external/tinycolormap"]
	path = external/tinycolormap
	url = https://github.com/yuki-koyama/tinycolormap.git
[submodule "external/bullet3"]
	path = external/bullet3
	url = https://github.com/bulletphysics/bullet3.git
