[submodule "external/embed-resource"]
	path = external/embed-resource
	url = https://github.com/schneeregenflocke/embed-resource.git
[submodule "external/sigslot"]
	path = external/sigslot
	url = https://github.com/palacaze/sigslot.git
