CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

.vs/

build/
/CMakeSettings.json
/example_input/png_test.png
/example_input/test_save.xml
