[submodule "external/csv"]
	path = external/csv
	url = https://github.com/p-ranav/csv.git
[submodule "external/embed-resource"]
	path = external/embed-resource
	url = https://github.com/schneeregenflocke/embed-resource.git
[submodule "external/freetype2"]
	path = external/freetype2
	url = git://git.sv.nongnu.org/freetype/freetype2.git
[submodule "external/glad"]
	path = external/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "external/lodepng"]
	path = external/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "external/pugixml"]
	path = external/pugixml
	url = https://github.com/zeux/pugixml.git
[submodule "external/wxWidgets"]
	path = external/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "external/sigslot"]
	path = external/sigslot
	url = https://github.com/palacaze/sigslot.git
